 @media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
      padding: 20px;  
    }
  
    .loginContainer {
      width: 80%;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    padding: 15px;  
    }
  
    .input {
      width: 80%;
      padding: 12px;  
    }
  
    .button {
      width: 80%;
      padding: 12px 18px;  
    }
  
    .linkStyle {
      font-size: 22px;  
    }
  }
  
   
  @media screen and (min-width: 1025px) {
    .container {
      padding: 30px;  
    }
  
    .loginContainer {
      width: 500px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      padding: 20px;  
    }
  
    .input {
      width: 100%;
      padding: 14px; 
    }
  
    .button {
      width: 400px;  
      padding: 14px 20px;  
    }
  
    .linkStyle {
      font-size: 24px;  
    }
  }
  