.main {
    background: url('../baground2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh; 
  }
  .center-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    padding-top: 100px;
    color: white;
  }

#button{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    color: white;
    border: none;
    margin-left: 80px;
    margin-top: 40px;
    font-size: larger;
    font-weight: bold;
}
/* .logo{
  width: 40%;
} */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .center-content {
    margin-left: 50px; 
  }
  #button {
    margin-left: 0px;  
    margin-top: 40px; 
  }
}

@media screen and (min-width: 1025px) {
  .main {
    height: 100vh;  
  }
  .center-content {
    margin-left: 100px;  
  }
  #button {
    margin-left: 80px;  
    margin-top: 40px; 
  }
}