body{
  overflow-y: auto;
}
/* .javascript{
  display:flex;
  height: 100%;
  justify-content: flex-start;  
  align-items: flex-start; 
}*/
.contentContainer {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 10px;  
  height: 100vh;
}


.quicklinks{
  /* width: 250px; */
  /* max-height: 100vh; */
  background-color: lightgray;
  padding: 20px;
  color: black;
  overflow-y: auto;
  margin-top: 55px;
}
.content {
  /* height: 100vh; */
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  margin: 10px;
  padding: 30px;
  padding-left: 50px;
  text-align: left;
  /* max-width: 1050px; */
  overflow-y: auto;
  margin-top: 55px;
} 
pre{
  white-space: pre-wrap;
  background-color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-x: auto;
  width: 100%;
}
img{
  max-width: 30%;  
  max-height: 30%; 
}
.custom_navbar {
  height: 60px;  
  background-color:black; 
  display: flex;
  align-items: center; 
  z-index: 1;
  
}
 

/* @media (max-width: 768px) {
  .javascript {
    flex-direction: column;
  }

  .quicklinks {
    width: 100%;  
  }
} */


@media (max-width: 768px) {
  .javascript {
    grid-template-columns: 1fr;
    /* grid-template-rows: 60px 1fr; */
  }

  .quicklinks {
    width: 100%;
  }

  .content {
    max-width: 100%;
  }
  body{
    overflow-y: auto;
  }
}

 
@media (min-width: 769px) and (max-width: 1024px) {
  .javascript {
    grid-template-columns: 250px 1fr;
    /* grid-template-rows: 60px 1fr; */
  }

  .quicklinks {
    width: 250px;
  }

  .content {
    max-width: 100%;
  }
  body{
    overflow-y: auto;
  }
}

 
@media (min-width: 1025px) and (max-width: 1440px) {
  .javascript {
    grid-template-columns: 300px 1fr;
    /* grid-template-rows: 60px 1fr; */
  }

  .quicklinks {
    width: 300px;
  }

  .content {
    max-width: 100%;
  }
  body{
    overflow-y: auto;
  }
}

 
@media (min-width: 1441px) {
  .javascript {
    grid-template-columns: 350px 1fr;
    /* grid-template-rows: 60px 1fr; */
  }

  .quicklinks {
    width: 350px;
  }

  .content {
    max-width: 100%;
  }
  body{
    overflow-y: auto;
  }
}

/* media queries for login page */
@media (max-width: 768px) {
  .main {
      flex-direction: column;
      height: auto;
  }

  .login-container {
      width: 80%;
  }
}
